In [36]:
import pandas as pd
import numpy as np

In [37]:
df= pd.read_csv("heights.csv")
df.head()
max_threshold= df['value'].quantile(0.95)
max_threshold

FileNotFoundError: [Errno 2] File heights.csv does not exist: 'heights.csv'

In [38]:
df[df['value']>max_threshold]

Empty DataFrame
Columns: [name, value]
Index: []

In [39]:
min_threshold= df.value.quantile(0.05)
min_threshold

4.55

In [40]:
df[df['value']<min_threshold]

      name  value
4  stephen    4.0

In [41]:
df.shape

(12, 2)

In [42]:
df.describe()

           value
count  12.000000
mean    5.333333
std     0.778499
min     4.000000
25%     5.000000
50%     5.000000
75%     6.000000
max     7.000000

In [43]:
df.dtypes

name      object
value    float32
dtype: object

In [44]:
df=df[(df.value<max_threshold) & (df.value>min_threshold)]
df

       name  value
0     azeem    5.0
1     colin    5.0
2     jason    5.0
3     aaron    5.0
5      zach    5.0
6     david    6.0
7    michal    6.0
8     ethan    7.0
10  william    6.0
11  grayson    5.0
13  blonder    5.0

In [45]:
min_thresold, max_thresold = df.value.quantile([0.05, 0.95])
min_thresold, max_thresold

(5.0, 6.5)

In [35]:
df.shape

(12, 2)