# Lab: Experimental Design

## Group

Edit the next Python cell to add information about who you're working within your lab section:

In [47]:
partner1_name = "Jai Rajpal"
partner1_netid = ""
partner1_major = "Information Sciences"

partner2_name = ""
partner2_netid = ""
partner2_major = ""

partner3_name = ""
partner3_netid = ""
partner3_major = ""

## Table of Contents <a id='toc'></a>

- [Setup](#p0)
- [Puzzle 1.1](#p11)
- [Puzzle 1.2](#p12)
- [Puzzle 1.3](#p13)
- [Puzzle 1.4](#p14)
- [Puzzle 2.1](#p21)
- [Puzzle 2.2](#p22)
- [Puzzle 2.3](#p23)
- [Puzzle 3.1](#p31)
- [Puzzle 3.2](#p32)
- [Puzzle 3.3](#p33)
- [Puzzle 3.4](#p34)
- [Puzzle 3.5](#p35)
- [Finale](#p4)

## Getting Help
Remember, there are a lot of ways to get help if you find yourself stuck:

1. In your lab section, you can ask your TA or CAs.
2. Post your question in the course Discord.
3. Office Hours:
  - In-person office hours **every Monday, Wednesday, Thursday, and Friday** from 4:00 PM - 6:00 PM in Siebel Center for Design (SCD) Rm. 0060
  - Zoom office hours **every Tuesday** from 5:00 PM - 6:30 PM (see the course website for links).

In this lab, you will:

- Download a dataset and place it in your working directory
- Utilize pandas to see how different sampling techniques affect your results
- Perform data cleaning on the dataset
- Think creatively on using pandas to solve real-world problems

## Welcome to Elite Feet!

You are a data scientist at Elite Feet. You just got hired to perform an experiment to test new shoe inserts that are supposed to make shoes feel 83% more comfortable!

You have found 22 ~~victims~~ participants who have agreed to try the shoe inserts for free. Now it's time to run the experiments to see if these work! You first have to divide the participants up into a treatment group (people who use the inserts) and a control group (people who don't use the inserts). Let's get going!

### Setup

In the _beginning_ of every project, you will always need to:

1. Download the dataset and place it into **your working directory**. 
2. Import the `pandas` library (as `pd`) to use pandas functions.
3. Read the dataset into a DataFrame `df` using `pd.read_csv()`

### This Lab's Dataset: Former Stat 107 Students!

You will use a dataset created by former Stat 107 students.  Assume they are the participants in this study!

- This dataset is in the lab_exp_design folder and it's named data.csv. So it's already where it needs to be!


### Complete The Setup Your Python Notebook <a id='p0'></a> ([back to toc](#toc))

Use the following two cells to finish up the setup by following 3 steps above:

In [49]:
# Import the pandas library as pd

import pandas as pd

In [50]:
# Read the dataset into a DataFrame
df = pd.read_csv("data.csv")
df

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
0,1,Jesse,Undeclared,Freshmen,Dogs,1,9.0,KBBQ,Blue,iPhone,...,McDonald's,0,5,0,1,15,10.0,1,Black,0
1,2,Bing,Psychology,Junior,Dogs,0,5.5,French Fries,Grey,iPhone,...,McDonald's,2,5,2,0,22,6.0,3,Brown,60
2,3,Jiayi,psychology,freshman,cats,0,7.0,hotpot,blue,iphone,...,neither,0,1,0,0,17,7.0,2,black,63
3,4,Tamun,Psychology,Freshman,dogs,1,8.0,Indian Food,Seafoam green,iPhone,...,McDonalds,4,12,1,0,18,8.0,3,Brown,63
4,5,Gabby,Undeclared,Sophomore,Dogs,1,8.5,Ribs,Periwinkle,iPhone,...,Neither,3,12,2,0,17,10.5,1,Brown & Green,64
5,6,Cecilia,Agricultural Consumer Economics,Junior,Dogs,1,7.5,Brownie,White,Iphone,...,McDonald's,0,2,1,0,15,8.0,4,Black,64
6,7,Jasmine,MCB,Sophomore,Dogs,2,8.0,sushi,grey,iphone,...,McDonalds,0,1,0,0,18,7.0,3,brown,64
7,8,Pavitra,Ag Consumer Econ,Junior,Dogs,0,7.5,mac and cheese,purple,iphone,...,mcdonalds,5,9,2,1,16,8.0,2,brown,65
8,9,Brian,Chemistry,Sophomore,Dogs,1,9.5,Tacos,Gold,IPhone,...,McDonalds,0,6,0,0,16,7.0,2,Brown,65
9,10,Kelly,Computer Scinece,super senior,Cats,0,7.0,Guacamole,Purple,iPhone,...,McDonald's,4,2,0.5,5,12,10.0,3,Hazel,65
10,11,Ali,Undeclared,Sophomore,Dogs,2,9.0,Sushi,Blue,iPhone,...,Burger King,0,2,0,1,15,10.0,2,Blue,66
11,12,Mariel,Global Studies,Freshman,Dogs,1,9.0,sushi,none,iPhone,...,Neither,4,10,1,0,17,10.0,3,Brown,67
12,13,April,Human Nutrition,Senior,Dogs,0,6.5,Hotpot,Blue,iPhone,...,Neither,2,9,0,0,22,8.0,3,Black,67
13,14,Dean,Economics,Sophomore,Dogs,1,7.5,Ramen,Green,Android,...,McDonald's,0,3,1,0,16,10.0,4,Brown,68
14,15,Hermon,MCB,senior,Dogs,1,10.0,Burrito,Red,iPhone,...,McDees,0,4,2,0,16,7.0,~4,Brown,68
15,16,Karle,Statistics,Old,Cats,2,8.5,Tacos,Pink,iPhone,...,Neither,3,10,20+,1,4,10.0,3,Green,70
16,17,Ming,Econ and Stats,Sophomore,Cats,1,10.0,KBBQ/Ramen,Blue,Android,...,McDonalds,0,7,2,1,18,10.0,3-Feb,Brown,70
17,18,David,Kinesiology,Sophomore,Cats,2,10.0,Pizza,Purple,iPhone,...,neither,3,7,1,0,16,7.0,0,Grey,70
18,19,Omri,Lighting Design & Technology,Junior,Dogs,1,10.0,Pasta,Blue,iPhone,...,McDonald's,3,9,1,0,20,8.0,3,Brown,70
19,20,Nick,Advertising,freshman,dogs,1,10.0,Mac & Cheese,blue,iPhone,...,McDonald's,3,12,1,0,15,8.0,2,brown,72
20,21,Pedro,Political Science,Sophmore,Dogs,1,13.0,BBQ Ribs,grey,Iphone,...,Burger King,0,2,1,0,16,9.0,2,Brown,74
21,22,Wade,Computer Scinece,Old,Dogs,2,13.0,BBQ,Purple,Android,...,MCDs,0,11,0,5,13,8.0,2,Brown,77

In [52]:
## == TEST CASES for Puzzle 1.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(df) == 22), "The dataframe does not appear to have correct dataset loaded"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

## The Data

You have a file called data.csv which contains the names of participants in the order they registered to participate in the study. This file contains useful information for you like the participants' gender, age, height, shoe size, and opinion of Crocs.

Taylor Swift, a popular data scientist, has decided that average shoe size is going to be an important variable for the study, and that is what she wants you to measure first for both the treatment and control groups. Ideally, the averages for the two groups should be about the same because like we learned in lecture, we want the **two groups** to be as **alike** as possible.

## Puzzle 1: The Easy Way

Taylor's coworker, Olivia, who is known for taking short cuts, says she knows how to split the participants into two groups: take the first 11 people from the list and put them into the control group, then put the rest of them in the treatment group.

### Quick tip: Pandas cheat sheet will help! Use it!

*If you don't have it, just Google **pandas cheat sheet*** or look on our class website under "Resources."

Use the pandas cheat sheet and create the treatment and control groups using Olivia's strategy.  Instead of just using one DataFrame, we will want to create two new DataFrames:

- `control`, a DataFrame that contains the control group
- `treatment`, a DataFrame that contains the treatment group

Because `control` and `treatment` are just DataFrames, they can do all the same things as `df` except by a different name.  This means you will have three DataFrames:

- `df`, contains all of your data
- `control`, contains your control group data
- `treatment`, contains your treatment group data

### Puzzle 1.1: Create The Control Group <a id='p11'></a> ([back to toc](#toc))

Using Olivia's strategy, create the control group DataFrame `control` by selecting a subset of the data from `df`. 

**Hint:** Use the pandas cheat sheet and what we have learned in lecture to do this!

In [8]:
# Assign the people into the control group Using *Olivia's strategy*
control = df.head(11)
control

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
0,1,Jesse,Undeclared,Freshmen,Dogs,1,9.0,KBBQ,Blue,iPhone,...,McDonald's,0,5,0,1,15,10.0,1,Black,0
1,2,Bing,Psychology,Junior,Dogs,0,5.5,French Fries,Grey,iPhone,...,McDonald's,2,5,2,0,22,6.0,3,Brown,60
2,3,Jiayi,psychology,freshman,cats,0,7.0,hotpot,blue,iphone,...,neither,0,1,0,0,17,7.0,2,black,63
3,4,Tamun,Psychology,Freshman,dogs,1,8.0,Indian Food,Seafoam green,iPhone,...,McDonalds,4,12,1,0,18,8.0,3,Brown,63
4,5,Gabby,Undeclared,Sophomore,Dogs,1,8.5,Ribs,Periwinkle,iPhone,...,Neither,3,12,2,0,17,10.5,1,Brown & Green,64
5,6,Cecilia,Agricultural Consumer Economics,Junior,Dogs,1,7.5,Brownie,White,Iphone,...,McDonald's,0,2,1,0,15,8.0,4,Black,64
6,7,Jasmine,MCB,Sophomore,Dogs,2,8.0,sushi,grey,iphone,...,McDonalds,0,1,0,0,18,7.0,3,brown,64
7,8,Pavitra,Ag Consumer Econ,Junior,Dogs,0,7.5,mac and cheese,purple,iphone,...,mcdonalds,5,9,2,1,16,8.0,2,brown,65
8,9,Brian,Chemistry,Sophomore,Dogs,1,9.5,Tacos,Gold,IPhone,...,McDonalds,0,6,0,0,16,7.0,2,Brown,65
9,10,Kelly,Computer Scinece,super senior,Cats,0,7.0,Guacamole,Purple,iPhone,...,McDonald's,4,2,0.5,5,12,10.0,3,Hazel,65
10,11,Ali,Undeclared,Sophomore,Dogs,2,9.0,Sushi,Blue,iPhone,...,Burger King,0,2,0,1,15,10.0,2,Blue,66

In [ ]:
## == TEST CASES for Puzzle 1.1 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(control) == 11), "The control group does not appear to have correctly chosen"
assert((control["Name"] == df["Name"][10]).sum() == 1), "The control group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

### Puzzle 1.2:  Create The Treatment Group <a id='p12'></a> ([back to toc](#toc))

Using Olivia's strategy, create the treatment group DataFrame `treatment`:

In [9]:
# Assign the people into the treatment group Using *Olivia's strategy*
treatment = df.drop(control.index)
treatment

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
11,12,Mariel,Global Studies,Freshman,Dogs,1,9.0,sushi,none,iPhone,...,Neither,4,10,1,0,17,10.0,3,Brown,67
12,13,April,Human Nutrition,Senior,Dogs,0,6.5,Hotpot,Blue,iPhone,...,Neither,2,9,0,0,22,8.0,3,Black,67
13,14,Dean,Economics,Sophomore,Dogs,1,7.5,Ramen,Green,Android,...,McDonald's,0,3,1,0,16,10.0,4,Brown,68
14,15,Hermon,MCB,senior,Dogs,1,10.0,Burrito,Red,iPhone,...,McDees,0,4,2,0,16,7.0,~4,Brown,68
15,16,Karle,Statistics,Old,Cats,2,8.5,Tacos,Pink,iPhone,...,Neither,3,10,20+,1,4,10.0,3,Green,70
16,17,Ming,Econ and Stats,Sophomore,Cats,1,10.0,KBBQ/Ramen,Blue,Android,...,McDonalds,0,7,2,1,18,10.0,3-Feb,Brown,70
17,18,David,Kinesiology,Sophomore,Cats,2,10.0,Pizza,Purple,iPhone,...,neither,3,7,1,0,16,7.0,0,Grey,70
18,19,Omri,Lighting Design & Technology,Junior,Dogs,1,10.0,Pasta,Blue,iPhone,...,McDonald's,3,9,1,0,20,8.0,3,Brown,70
19,20,Nick,Advertising,freshman,dogs,1,10.0,Mac & Cheese,blue,iPhone,...,McDonald's,3,12,1,0,15,8.0,2,brown,72
20,21,Pedro,Political Science,Sophmore,Dogs,1,13.0,BBQ Ribs,grey,Iphone,...,Burger King,0,2,1,0,16,9.0,2,Brown,74
21,22,Wade,Computer Scinece,Old,Dogs,2,13.0,BBQ,Purple,Android,...,MCDs,0,11,0,5,13,8.0,2,Brown,77

In [10]:
### == TEST CASES for Puzzle 1.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(treatment) == 11), "The treatment group does not appear to have correctly chosen"
assert((treatment["Name"] == df["Name"][11]).sum() == 1), "The treatment group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

### Puzzle 1.3: Find The Mean (Average) Shoe Size <a id='p13'></a> ([back to toc](#toc))

On the back of the cheat sheet, you will find pandas can summarize data:

![image.png](pandas-summarize-data.png)

### Using the summary functions on a column:

We can use any of the summary functions, `sum()`, `count()`, `median()`, `quantile(...)`, `apply(...)`, `min()`, `max()`, `mean()`, `var()`, and `std()` to any column by applying it to a column in the DataFrame.

The syntax to get one column from a DataFrame is to **index into the column**.  For example:

```
df['Credit Hours'].max()
```

...will return the max number of credit hours.

Find and `print` the average shoe size of the control *and* treatment groups:

In [26]:
# Assign the average shoe size of control group
control_shoe_mean = control["Shoe Size?"].mean()
# Print the control_shoe_mean
print(control_shoe_mean)

# Assign the average shoe size of treatment group
treatment_shoe_mean = treatment["Shoe Size?"].mean()
# Print the treatment_shoe_mean

treatment_shoe_mean

7.863636363636363

9.772727272727273

In [14]:
### == TEST CASES for Puzzle 1.3 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(control_shoe_mean == control['Shoe Size?'].mean()), "The average shoe size of your control group does not appear to seem correct. Make sure you are taking mean of the correct variable."
assert(treatment_shoe_mean == treatment['Shoe Size?'].mean()), "The average shoe size of your treatment group does not appear to seem correct. Make sure you are taking mean of the correct variable."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

### Puzzle 1.4: â“Individual Reflectionâ“ <a id='p14'></a> ([back to toc](#toc))

Do you think this is the best way to choose who is in the treatment group and the control group? Why or why not?

***Type your answer here.*** No because it is not randomly assigned

## Puzzle 2: The Random Way

Taylor's coworker, Ed, took a stats course in college and stayed awake through at least 50% of the lectures. He remembers that you have to use randomization to determine who goes in each group in order to make the groups as *alike* as possible. He suggests that you randomly pick 11 people to be in the treatment group and the other 11 should go in the control group.

### Puzzle 2.1: Creating The Control And The Treatment Groups Using Randomization <a id='p21'></a> ([back to toc](#toc))

Execute Ed's strategy for dividing up the participants to create a `control` and a `treatment` group.


**Hint 1:** This might help to randomize your whole dataset first: https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sample.html

**Hint 2:** If the frac=0.5 parameter randomly samples 50% of the data with replacement, how can we use this to randomize the entire dataset?

**Hint 3:** If you use `.drop()` at any point, make sure you are using it on either `control_random` or `treatment_random` and **NOT** `df` (the original data frame).

*Make sure to use a different cell for `control` and `treatment`.*

In [17]:
# Assign the 11 people into the control group Using *randomization*
control_random = df.sample(11)
control_random

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
21,22,Wade,Computer Scinece,Old,Dogs,2,13.0,BBQ,Purple,Android,...,MCDs,0,11,0,5,13,8.0,2,Brown,77
15,16,Karle,Statistics,Old,Cats,2,8.5,Tacos,Pink,iPhone,...,Neither,3,10,20+,1,4,10.0,3,Green,70
11,12,Mariel,Global Studies,Freshman,Dogs,1,9.0,sushi,none,iPhone,...,Neither,4,10,1,0,17,10.0,3,Brown,67
16,17,Ming,Econ and Stats,Sophomore,Cats,1,10.0,KBBQ/Ramen,Blue,Android,...,McDonalds,0,7,2,1,18,10.0,3-Feb,Brown,70
1,2,Bing,Psychology,Junior,Dogs,0,5.5,French Fries,Grey,iPhone,...,McDonald's,2,5,2,0,22,6.0,3,Brown,60
0,1,Jesse,Undeclared,Freshmen,Dogs,1,9.0,KBBQ,Blue,iPhone,...,McDonald's,0,5,0,1,15,10.0,1,Black,0
19,20,Nick,Advertising,freshman,dogs,1,10.0,Mac & Cheese,blue,iPhone,...,McDonald's,3,12,1,0,15,8.0,2,brown,72
9,10,Kelly,Computer Scinece,super senior,Cats,0,7.0,Guacamole,Purple,iPhone,...,McDonald's,4,2,0.5,5,12,10.0,3,Hazel,65
4,5,Gabby,Undeclared,Sophomore,Dogs,1,8.5,Ribs,Periwinkle,iPhone,...,Neither,3,12,2,0,17,10.5,1,Brown & Green,64
10,11,Ali,Undeclared,Sophomore,Dogs,2,9.0,Sushi,Blue,iPhone,...,Burger King,0,2,0,1,15,10.0,2,Blue,66
20,21,Pedro,Political Science,Sophmore,Dogs,1,13.0,BBQ Ribs,grey,Iphone,...,Burger King,0,2,1,0,16,9.0,2,Brown,74

In [18]:
### == TEST CASES for Puzzle 2.1. ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(control_random) == 11), "The control group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

In [19]:
# Assign the rest of people into the control group Using *randomization*
treatment_random = df.drop(control_random.index)
treatment_random

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
2,3,Jiayi,psychology,freshman,cats,0,7.0,hotpot,blue,iphone,...,neither,0,1,0,0,17,7.0,2,black,63
3,4,Tamun,Psychology,Freshman,dogs,1,8.0,Indian Food,Seafoam green,iPhone,...,McDonalds,4,12,1,0,18,8.0,3,Brown,63
5,6,Cecilia,Agricultural Consumer Economics,Junior,Dogs,1,7.5,Brownie,White,Iphone,...,McDonald's,0,2,1,0,15,8.0,4,Black,64
6,7,Jasmine,MCB,Sophomore,Dogs,2,8.0,sushi,grey,iphone,...,McDonalds,0,1,0,0,18,7.0,3,brown,64
7,8,Pavitra,Ag Consumer Econ,Junior,Dogs,0,7.5,mac and cheese,purple,iphone,...,mcdonalds,5,9,2,1,16,8.0,2,brown,65
8,9,Brian,Chemistry,Sophomore,Dogs,1,9.5,Tacos,Gold,IPhone,...,McDonalds,0,6,0,0,16,7.0,2,Brown,65
12,13,April,Human Nutrition,Senior,Dogs,0,6.5,Hotpot,Blue,iPhone,...,Neither,2,9,0,0,22,8.0,3,Black,67
13,14,Dean,Economics,Sophomore,Dogs,1,7.5,Ramen,Green,Android,...,McDonald's,0,3,1,0,16,10.0,4,Brown,68
14,15,Hermon,MCB,senior,Dogs,1,10.0,Burrito,Red,iPhone,...,McDees,0,4,2,0,16,7.0,~4,Brown,68
17,18,David,Kinesiology,Sophomore,Cats,2,10.0,Pizza,Purple,iPhone,...,neither,3,7,1,0,16,7.0,0,Grey,70
18,19,Omri,Lighting Design & Technology,Junior,Dogs,1,10.0,Pasta,Blue,iPhone,...,McDonald's,3,9,1,0,20,8.0,3,Brown,70

In [20]:
### == TEST CASES for Puzzle 2.1. ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(treatment_random) == 11), "The control group does not appear to have correctly chosen"
for x in treatment_random["Name"]:
    a = (len(control_random[control_random['Name'].str.contains(str(x))])==0)
assert(a), "The treatment group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

# SANITY CHECK !!!

- **MAKE SURE** that each group has unique people and that no single person is in both groups.

### Puzzle 2.2: Finding Mean Shoe Sizes <a id='p22'></a> ([back to toc](#toc))
Now again try to find and `print` the average shoe size of the **randomized** control *and* **randomized** treatment groups.

In [24]:
# Assign the average shoe size of control group
control_random_shoe_mean= control_random["Shoe Size?"].mean()
# Print the control_shoe_mean
print(control_random_shoe_mean)

# Assign the average shoe size of treatment group
treatment_random_shoe_mean = treatment_random["Shoe Size?"].mean()
# Print the treatment_shoe_mean
print(treatment_random_shoe_mean)

9.318181818181818
8.318181818181818

In [25]:
### == TEST CASES for Puzzle 2.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(control_random_shoe_mean == control_random['Shoe Size?'].mean()), "The average shoe size of your control group does not appear to seem correct. Make sure you are taking mean of the correct variable."
assert(treatment_random_shoe_mean == treatment_random['Shoe Size?'].mean()), "The average shoe size of your treatment group does not appear to seem correct. Make sure you are taking mean of the correct variable."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

### Puzzle 2.3: â“Individual Reflectionâ“ <a id='p23'></a> ([back to toc](#toc))
Do you think this is the best way to decide who is in the treatment and control groups? Why or why not?

***Type your answer here.***  No because we use blocking

## Puzzle 3: Blocking!

Taylor's BFF, Karle, took many stats courses in college and is confident that, with such a small sample, you need to block the participants before randomly assigning them to the groups to ensure the groups are as *alike* as possible. With small samples, accidental differences can occur even if we randomly divide participants!

### Puzzle 3.1: â“Group Discussionâ“ <a id='p31'></a> ([back to toc](#toc))

Run `df.columns` to view all the columns in our dataset. What variable do you think you should block on?  In other words, what variable do you think will influence the response the most? Identify some possible variables and discuss with your group how they could affect the conclusion of the experiment.

In [27]:
df.columns

Index(['Unnamed: 0', 'Name', 'Major?', 'Year?', 'Cats or Dogs', 'Siblings?',
       'Shoe Size?', 'Fav. Food', 'Fav. Color', 'Phone.', 'Mac or PC?',
       'Travel', 'Fav. Subject', 'Crocs?', 'Musical Artist',
       'Pancakes or Waffles', 'Fav. Animal', 'Fav. Car', 'Do You Cook?',
       'Marvel or DC?', 'Fav. Movie', 'Airpods', 'Instrument',
       'Fav. Store IRL', 'Pepsi or Coke', 'The Dress', 'Fav. Restaurant',
       'Least Fav. Subjest', 'McDonald's or Burger King', 'Gym Per Week',
       'Birth Month', 'STAT at UIUC', 'Programming at UIUC', 'Credit Hours?',
       'Ideal Sleep Hours', 'Eat Out Per Week', 'Eye Color', 'Height'],
      dtype='object')

***Type your answer here.***

### Puzzle 3.2: Creating `block1` and `block2` <a id='p32'></a> ([back to toc](#toc))

Blocking is just dividing subjects into groups based on a certain variable. We block before randomized controlled experiments. You can block based on multiple variables, but today we just want you to pick one. This is subjective, but we are going to use Height (measured in feet + inches) in this lab. This variable is called: `Height`.

In our dataset, we have two blocks (or groups) that we can name `block1` and `block2`. Create DataFrames `block1` and `block2` that contain data based on our blocking condition. Remember for this lab, we will use **Height** as the blocking condition. Use Python to create `block1` that contains the students who have a *Height* greater than 65. And create `block2` that contains students who have a *Height* less than or equal to 65.


*You should use a different cell for `block1` and `block2`.*

In [28]:
# Create the block1 based on blocking condition
block1 = df[df.Height>65]
block1

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
10,11,Ali,Undeclared,Sophomore,Dogs,2,9.0,Sushi,Blue,iPhone,...,Burger King,0,2,0,1,15,10.0,2,Blue,66
11,12,Mariel,Global Studies,Freshman,Dogs,1,9.0,sushi,none,iPhone,...,Neither,4,10,1,0,17,10.0,3,Brown,67
12,13,April,Human Nutrition,Senior,Dogs,0,6.5,Hotpot,Blue,iPhone,...,Neither,2,9,0,0,22,8.0,3,Black,67
13,14,Dean,Economics,Sophomore,Dogs,1,7.5,Ramen,Green,Android,...,McDonald's,0,3,1,0,16,10.0,4,Brown,68
14,15,Hermon,MCB,senior,Dogs,1,10.0,Burrito,Red,iPhone,...,McDees,0,4,2,0,16,7.0,~4,Brown,68
15,16,Karle,Statistics,Old,Cats,2,8.5,Tacos,Pink,iPhone,...,Neither,3,10,20+,1,4,10.0,3,Green,70
16,17,Ming,Econ and Stats,Sophomore,Cats,1,10.0,KBBQ/Ramen,Blue,Android,...,McDonalds,0,7,2,1,18,10.0,3-Feb,Brown,70
17,18,David,Kinesiology,Sophomore,Cats,2,10.0,Pizza,Purple,iPhone,...,neither,3,7,1,0,16,7.0,0,Grey,70
18,19,Omri,Lighting Design & Technology,Junior,Dogs,1,10.0,Pasta,Blue,iPhone,...,McDonald's,3,9,1,0,20,8.0,3,Brown,70
19,20,Nick,Advertising,freshman,dogs,1,10.0,Mac & Cheese,blue,iPhone,...,McDonald's,3,12,1,0,15,8.0,2,brown,72
20,21,Pedro,Political Science,Sophmore,Dogs,1,13.0,BBQ Ribs,grey,Iphone,...,Burger King,0,2,1,0,16,9.0,2,Brown,74
21,22,Wade,Computer Scinece,Old,Dogs,2,13.0,BBQ,Purple,Android,...,MCDs,0,11,0,5,13,8.0,2,Brown,77

In [29]:
## == TEST CASES for Puzzle 3.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(block1) == 12), "The block1 group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

In [31]:
block2 = df[df.Height<=65]
block2

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
0,1,Jesse,Undeclared,Freshmen,Dogs,1,9.0,KBBQ,Blue,iPhone,...,McDonald's,0,5,0,1,15,10.0,1,Black,0
1,2,Bing,Psychology,Junior,Dogs,0,5.5,French Fries,Grey,iPhone,...,McDonald's,2,5,2,0,22,6.0,3,Brown,60
2,3,Jiayi,psychology,freshman,cats,0,7.0,hotpot,blue,iphone,...,neither,0,1,0,0,17,7.0,2,black,63
3,4,Tamun,Psychology,Freshman,dogs,1,8.0,Indian Food,Seafoam green,iPhone,...,McDonalds,4,12,1,0,18,8.0,3,Brown,63
4,5,Gabby,Undeclared,Sophomore,Dogs,1,8.5,Ribs,Periwinkle,iPhone,...,Neither,3,12,2,0,17,10.5,1,Brown & Green,64
5,6,Cecilia,Agricultural Consumer Economics,Junior,Dogs,1,7.5,Brownie,White,Iphone,...,McDonald's,0,2,1,0,15,8.0,4,Black,64
6,7,Jasmine,MCB,Sophomore,Dogs,2,8.0,sushi,grey,iphone,...,McDonalds,0,1,0,0,18,7.0,3,brown,64
7,8,Pavitra,Ag Consumer Econ,Junior,Dogs,0,7.5,mac and cheese,purple,iphone,...,mcdonalds,5,9,2,1,16,8.0,2,brown,65
8,9,Brian,Chemistry,Sophomore,Dogs,1,9.5,Tacos,Gold,IPhone,...,McDonalds,0,6,0,0,16,7.0,2,Brown,65
9,10,Kelly,Computer Scinece,super senior,Cats,0,7.0,Guacamole,Purple,iPhone,...,McDonald's,4,2,0.5,5,12,10.0,3,Hazel,65

In [32]:
## == TEST CASES for Puzzle 3.2 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(len(block2) == 10), "The block2 group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

### Puzzle 3.3:  Creating The Final Treatment and Control Groups <a id='p33'></a> ([back to toc](#toc))

Execute Karle's strategy for dividing up the participants to create a `control_block` group and a `treatment_block` group such that half of the students in each block will be in the treatment group and half will be in the control group. Dont forget to **randomize**! In other words, randomly assign half of the subjects from block1 to treatment and half to control. Do the same thing with block2.

**HINT 1:**  Will you need to gather data from two places?  Is there something on the cheat sheet that lets you combine two datasets? 
https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf

*You should use a different cell for `control_block` and `treatment_block`.*

You have several cells to work in if you need them. The only requirement is that your final `control_block` and `treatment_block` groups must be randomly selected and be stored in the variable `control_block` and `treatment_block` .

**HINT 2:** The tilde operator negates the Boolean values in the DataFrame. E.g. try running `~pd.Series([True,False])`

In [35]:
# You can use this cell to work on creating the control group from the blocks.
pd.merge(block1.sample(frac=0.5),block2.sample(frac=0.5), how= 'outer')

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
0,16,Karle,Statistics,Old,Cats,2,8.5,Tacos,Pink,iPhone,...,Neither,3,10,20+,1,4,10.0,3,Green,70
1,22,Wade,Computer Scinece,Old,Dogs,2,13.0,BBQ,Purple,Android,...,MCDs,0,11,0,5,13,8.0,2,Brown,77
2,14,Dean,Economics,Sophomore,Dogs,1,7.5,Ramen,Green,Android,...,McDonald's,0,3,1,0,16,10.0,4,Brown,68
3,20,Nick,Advertising,freshman,dogs,1,10.0,Mac & Cheese,blue,iPhone,...,McDonald's,3,12,1,0,15,8.0,2,brown,72
4,12,Mariel,Global Studies,Freshman,Dogs,1,9.0,sushi,none,iPhone,...,Neither,4,10,1,0,17,10.0,3,Brown,67
5,21,Pedro,Political Science,Sophmore,Dogs,1,13.0,BBQ Ribs,grey,Iphone,...,Burger King,0,2,1,0,16,9.0,2,Brown,74
6,5,Gabby,Undeclared,Sophomore,Dogs,1,8.5,Ribs,Periwinkle,iPhone,...,Neither,3,12,2,0,17,10.5,1,Brown & Green,64
7,7,Jasmine,MCB,Sophomore,Dogs,2,8.0,sushi,grey,iphone,...,McDonalds,0,1,0,0,18,7.0,3,brown,64
8,1,Jesse,Undeclared,Freshmen,Dogs,1,9.0,KBBQ,Blue,iPhone,...,McDonald's,0,5,0,1,15,10.0,1,Black,0
9,4,Tamun,Psychology,Freshman,dogs,1,8.0,Indian Food,Seafoam green,iPhone,...,McDonalds,4,12,1,0,18,8.0,3,Brown,63
10,8,Pavitra,Ag Consumer Econ,Junior,Dogs,0,7.5,mac and cheese,purple,iphone,...,mcdonalds,5,9,2,1,16,8.0,2,brown,65

In [36]:
# Make sure your final answer is in `control_block`:
control_block = pd.merge(block1.sample(frac=0.5),block2.sample(frac=0.5), how= 'outer')

In [37]:
### == TEST CASES for Puzzle 3.3. ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(control_block) == 11), "The control group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

In [38]:
# This is the code for creating the treatment group from the blocks. It's given to you since we haven't learned how to do this yet!
treatment_block = df[ ~df.isin(control_block)].dropna()

In [39]:
# Make sure your final answer is in `treatment_block`. If you ran the previous cell, this is ensres your final answer is in `treatment_block`.
treatment_block

,Unnamed: 0,Name,Major?,Year?,Cats or Dogs,Siblings?,Shoe Size?,Fav. Food,Fav. Color,Phone.,...,McDonald's or Burger King,Gym Per Week,Birth Month,STAT at UIUC,Programming at UIUC,Credit Hours?,Ideal Sleep Hours,Eat Out Per Week,Eye Color,Height
11,12,Mariel,Global Studies,Freshman,Dogs,1.0,9.0,sushi,none,iPhone,...,Neither,4.0,10,1,0.0,17.0,10.0,3,Brown,67.0
12,13,April,Human Nutrition,Senior,Dogs,0.0,6.5,Hotpot,Blue,iPhone,...,Neither,2.0,9,0,0.0,22.0,8.0,3,Black,67.0
13,14,Dean,Economics,Sophomore,Dogs,1.0,7.5,Ramen,Green,Android,...,McDonald's,0.0,3,1,0.0,16.0,10.0,4,Brown,68.0
14,15,Hermon,MCB,senior,Dogs,1.0,10.0,Burrito,Red,iPhone,...,McDees,0.0,4,2,0.0,16.0,7.0,~4,Brown,68.0
15,16,Karle,Statistics,Old,Cats,2.0,8.5,Tacos,Pink,iPhone,...,Neither,3.0,10,20+,1.0,4.0,10.0,3,Green,70.0
16,17,Ming,Econ and Stats,Sophomore,Cats,1.0,10.0,KBBQ/Ramen,Blue,Android,...,McDonalds,0.0,7,2,1.0,18.0,10.0,3-Feb,Brown,70.0
17,18,David,Kinesiology,Sophomore,Cats,2.0,10.0,Pizza,Purple,iPhone,...,neither,3.0,7,1,0.0,16.0,7.0,0,Grey,70.0
18,19,Omri,Lighting Design & Technology,Junior,Dogs,1.0,10.0,Pasta,Blue,iPhone,...,McDonald's,3.0,9,1,0.0,20.0,8.0,3,Brown,70.0
19,20,Nick,Advertising,freshman,dogs,1.0,10.0,Mac & Cheese,blue,iPhone,...,McDonald's,3.0,12,1,0.0,15.0,8.0,2,brown,72.0
20,21,Pedro,Political Science,Sophmore,Dogs,1.0,13.0,BBQ Ribs,grey,Iphone,...,Burger King,0.0,2,1,0.0,16.0,9.0,2,Brown,74.0
21,22,Wade,Computer Scinece,Old,Dogs,2.0,13.0,BBQ,Purple,Android,...,MCDs,0.0,11,0,5.0,13.0,8.0,2,Brown,77.0

In [41]:
### == TEST CASES for Puzzle 3.3. ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.
assert(len(treatment_block) == 11), "The control group does not appear to have correctly chosen."
for x in treatment_block["Name"]:
    a = (len(control_block[control_block['Name'].str.contains(str(x))])==0)
assert(a), "The treatment group does not appear to have correctly chosen"

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

### Puzzle 3.4: Finding Mean Shoe Sizes <a id='p34'></a> ([back to toc](#toc))
After creating the treatment and control groups using blocking and randomization, let's find the average shoe size of the control *and* treatment groups again. 

Find and `print` the average shoe size of the control *and* treatment groups:

In [45]:
# Create the average shoe size of control group
control_block_shoe_mean = control_block["Shoe Size?"].mean()
# Print the control_block_shoe_mean
print(control_block_shoe_mean)

# Create the average shoe size of treatment group
treatment_block_shoe_mean = treatment_block["Shoe Size?"].mean()
# Print the treatment_block_shoe_mean
print(treatment_block_shoe_mean)

8.090909090909092
9.772727272727273

In [46]:
### == TEST CASES for Puzzle 3.4 ==
# - This read-only cell contains test cases for your previous cell.
# - If this cell runs without any error our output, you PASSED all test cases!
# - If this cell results in any errors, check you previous cell, make changes, and RE-RUN your code and then this cell.

assert(control_block_shoe_mean == control_block['Shoe Size?'].mean()), "The average shoe size of your control group does not appear to seem correct. Make sure you are taking mean of the correct variable."
assert(treatment_block_shoe_mean == treatment_block['Shoe Size?'].mean()), "The average shoe size of your treatment group does not appear to seem correct. Make sure you are taking mean of the correct variable."

## == SUCCESS MESSAGE ==
# You will only see this message (with the emoji showing) if you passed all test cases:
tada = "\N{PARTY POPPER}"
print(f"{tada} All tests passed! {tada}")
print()

ðŸŽ‰ All tests passed! ðŸŽ‰

### Puzzle 3.5: â“Group Discussionâ“ <a id='p35'></a> ([back to toc](#toc))

- Do you think this is a good way to choose the treatment and control groups? Why or why not?

- Did the three different strategies affect the average shoe size of the two groups? If so, how?

***Type your group's answer here.***
This is a good way to choose the treatment and control groups because they is randomly assigned groups.
The three strategies affected the average shoe size of the two groups. Blocking was the most accurate strategy because it blocked by height

In [43]:
import pandas as pd
df= pd.read_csv("https://waf.cs.illinois.edu/discovery/gpa.csv")
df

,Year,Term,YearTerm,Subject,Number,Course Title,A+,A,A-,B+,...,B-,C+,C,C-,D+,D,D-,F,W,Primary Instructor
0,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,12,12,1,0,...,1,0,1,0,0,0,0,1,0,"Boonsripaisal, Simon"
1,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,5,12,4,1,...,1,2,0,0,0,0,0,1,0,"Boonsripaisal, Simon"
2,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,0,8,7,3,...,3,2,0,2,0,0,0,0,0,"Uhall, Michael B"
3,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,8,6,2,0,...,1,1,2,1,0,0,0,0,0,"Uhall, Michael B"
4,2020,Spring,2020-sp,AAS,100,Intro Asian American Studies,5,4,3,1,...,1,1,2,1,1,0,1,1,0,"Kang, Yoonjung"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53928,2010,Summer,2010-su,STAT,410,Statistics and Probability II,5,10,2,2,...,1,0,1,3,0,0,0,2,1,"Stepanov, Alexei G"
53929,2010,Summer,2010-su,STAT,440,Statistical Data Management,4,12,8,1,...,0,0,0,0,0,0,0,0,0,"Unger, David"
53930,2010,Summer,2010-su,TAM,212,Introductory Dynamics,0,1,3,2,...,7,5,1,1,0,2,0,1,0,"Morgan, William T"
53931,2010,Summer,2010-su,TAM,251,Introductory Solid Mechanics,1,2,2,1,...,0,3,3,2,0,0,1,1,0,"Ott-Monsivais, Stephanie"
53932,2010,Summer,2010-su,TAM,335,Introductory Fluid Mechanics,5,8,9,4,...,1,0,4,0,0,1,0,2,0,"Keane, Richard D"

In [49]:
df= df.groupby("Subject").agg("sum").reset_index()
df

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,sumgpa
0,AAS,360617,23290,771,2094,812,517,526,246,135,140,54,29,29,19,76,24,19148.77
1,ABE,265957,44357,315,2556,800,703,902,240,127,175,46,16,43,6,51,14,20894.80
2,ACCY,4553856,829676,7416,23142,15600,14839,13614,5703,2798,2155,1056,253,662,162,513,255,298558.23
3,ACE,1777080,241702,3523,13421,5040,4316,6859,2610,1627,2282,770,359,623,214,557,103,138932.06
4,ACES,286071,16537,889,1838,259,119,272,68,67,79,24,16,26,10,68,6,13653.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,UP,578226,104655,1063,3559,2037,1241,1358,487,248,293,121,39,74,41,147,39,36962.39
159,VB,8040,2489,0,212,6,6,120,1,0,40,0,0,2,0,0,0,1334.67
160,VCM,74447,24157,302,1321,29,49,1036,20,18,337,1,1,41,0,1,0,10682.94
161,VM,187402,56460,0,1825,8,0,5861,1,0,3405,0,0,325,0,8,10,32050.03
162,YDSH,26176,3560,40,91,81,32,40,12,6,4,2,0,1,2,5,3,1106.19

In [47]:
df['sumgpa']=(df["A+"]*4)+ (df["A"]*4)+ (df["A-"]*3.67)+ (df["B+"]*3.33)+ (df["B"]*3)+ (df["B-"]*2.67)+ (df["C+"]*2.33)+ (df["C"]*2)+ (df["C-"]*1.67)+ (df["D+"]*1.33)+ (df["D"]*1)

In [53]:
df["STUDENTS"]=df["A+"]*1+ (df["A"]*1)+ (df["A-"]*1)+ (df["B+"]*1)+ (df["B"]*1)+ (df["B-"]*1)+ (df["C+"]*1)+ (df["C"]*1)+ (df["C-"]*1)+ (df["D+"]*1)+ (df["D"]*1) + df["D-"]+df["F"]

In [54]:
df

,Subject,Year,Number,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,sumgpa,STUDENTS
0,AAS,360617,23290,771,2094,812,517,526,246,135,140,54,29,29,19,76,24,19148.77,5448
1,ABE,265957,44357,315,2556,800,703,902,240,127,175,46,16,43,6,51,14,20894.80,5980
2,ACCY,4553856,829676,7416,23142,15600,14839,13614,5703,2798,2155,1056,253,662,162,513,255,298558.23,87913
3,ACE,1777080,241702,3523,13421,5040,4316,6859,2610,1627,2282,770,359,623,214,557,103,138932.06,42201
4,ACES,286071,16537,889,1838,259,119,272,68,67,79,24,16,26,10,68,6,13653.83,3735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,UP,578226,104655,1063,3559,2037,1241,1358,487,248,293,121,39,74,41,147,39,36962.39,10708
159,VB,8040,2489,0,212,6,6,120,1,0,40,0,0,2,0,0,0,1334.67,387
160,VCM,74447,24157,302,1321,29,49,1036,20,18,337,1,1,41,0,1,0,10682.94,3156
161,VM,187402,56460,0,1825,8,0,5861,1,0,3405,0,0,325,0,8,10,32050.03,11433
162,YDSH,26176,3560,40,91,81,32,40,12,6,4,2,0,1,2,5,3,1106.19,316

In [55]:
df["sumgpa"]/df["STUDENTS"]

0      3.514826
1      3.494114
2      3.396065
3      3.292151
4      3.655644
         ...
158    3.451848
159    3.448760
160    3.384962
161    2.803291
162    3.500601
Length: 163, dtype: float64

# Finale! <a id='p4'></a> ([back to toc](#toc))

You're almost done -- congratulations!

You need to do two more things:

1. Save your work.  To do this, create a **notebook checkpoint** by using the menu within the notebook to go **File -> Save and Checkpoint**

2. After you have saved and checkpointed, exit this notebook and return to the Data Science Discovery page on how to use git to turn this notebook into the course!